<%= form_for @tweet , html: { multipart: true } do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
        
        <div class="col-sm-12 col-sm-offset-" style="margin:10px">
            <%= f.text_area :body, autofocus: true, class: 'form-control'  %>
        </div>
    </div>
    </br></br></br>
    <%if !current_page?(tweets_path)%>
      <div class="form-group">
          <p style="margin-left:25px"><strong>Add a photo</strong></p>
          <div class="col-sm-6" style="float:left;margin-left:10px">
              <%= f.file_field :image %>
          </div>
      </div>
    <%end%>
   <div class="form-group actions">
   
        <div class="col-sm-offset-9 col-sm-2" style="float:left,margin-right:20px">
            <%= f.submit "Create", class: "btn btn-default" ,style:'margin-left:40px;float:left' %>
        </div>
 
  </div>

<% end %>
