<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    
    <div class="form-group">
        
        <div class="col-sm-12 col-sm-offset-" style="margin:10px">
            <%= f.text_area :body, autofocus: true, class: 'form-control'  %>
        </div>
    </div>
    </br></br>
   <div class="form-group actions">
   <%if current_page?(new_tweet_path)%>
        <div class="col-sm-offset-8 col-sm-6" style="float:left">
            <%= f.submit "Create", class: "btn btn-default" ,style:'margin-left:40px' %>
        </div>
  <%end%>
  </div>

<% end %>
