<p id="notice"><%= notice %></p>

<h3>Listing Tweets</h3>



    <% @tweets.each do |tweet| %>
     <div class="row">
         
            <div class="col-sm-3">
                <div class="well">
                      <p><%= tweet.user.name %></p>
                    <%if user_signed_in?%>
                       <div class="round-image-25" style="margin:auto"><%= image_tag(tweet.user.avatar.url(:thumb)) %></div>
                    <%else%>
                       <p>Missing photo</p>
                    <%end%>
                </div>
            </div>

         
         <div class="col-sm-9" style="padding:25px;margin:auto;">
             <div >
               <p style="font-size:25px;float:left"><%= tweet.body %></p>
            </div>
          <br>
        </div>
             <div class="col-sm-9" style="float:right">
                  <div class="btn-group btn-group-sm" style="margin-top:40px">
                    
                         <div class="btn-group ">
                           <%= link_to 'Show', tweet,class:"btn pull-right btn-default  ",type:"button" %>
                         </div>
                      
                        <% if tweet.user == current_user%>
                        
                         <div class="btn-group">
                         <%= link_to 'Edit', edit_tweet_path(tweet) ,class:"btn pull-right btn-default  ",type:"button" %>
                        
                         </div>
                
                        <div class="btn-group">
                        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' },class:"btn pull-right btn-default  ",type:"button" %>
                          
                       </div>
                  
                      <%end%>
               </div>
            </div>
      
        
      </div>
    <% end %>
    
 
</table>

<br>

