
<div class="row" >
	<div class="col-sm-12 " >

		<div class="row">
			<div>
				<%= image_tag @tweet.image.url(:medium) %>
				
			</div>
		</div>
		<p style="float:left;margin-bottom:30px;margin-top:30px;font-size:30px">
		 <!-- <strong>Body:</strong> -->
		  <%= @tweet.body %>
		</p>
	 </div>
	 <div class="row">
		 <div class="col-sm-offset-9 col-sm-1" style="float:right">
	             <div class="btn-group " style="margin-left:-150px;">
	                 <div class="btn btn-default glyphicon glyphicon-heart" >
	                   <%= link_to like_tweet_path(@tweet), method: :put do %>
	                     Like                        
	                    </div>
	                    <% end %>
	                    <div class="btn" style="background:white;border:3px solid #d9d9d9;border-radius:0 5px 5px 0;">
	                      <%= @tweet.get_upvotes.size %>
	                     </div>     
	                          
	            </div>
	      </div>

	</div>


</div>
 
<div class="row" >
	<div class="col-sm-12 ">
		<h5 class="comments_title" style="float:left">
		  <%= @tweet.comments.count %> Comments
		</h5>

		<div id="comments">
		  	<%= render :partial => @tweet.comments %>
		</div>


		<%= form_for [@tweet, Comment.new]  do |f| %>
		  <div class="form-group">
		  	<div class="col-sm-12">
		    	<%= f.text_area :body, class: "form-control" %>
		  	</div>	
		  </div>
		  <br>
		  <div class="form-group">
		        <div class="col-sm-offset-7 col-sm-8">
		        	<br>
		             <%= f.submit "Add Comment", class: "btn btn-primary" %>
		        </div>
		  </div>
		 
		<% end %>

	  </div>
</div>
 

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
