<h3>My tweets</h3>

		<% Tweet.limit(10).where(user_id: @user.id).each do |tweet| %>
	  
		<div class="row">
         
            <div class="col-sm-3">
                <div class="well">
                     
                    <%if user_signed_in?%>

                       <div class="round-image-25" style="margin:auto"><%= image_tag(tweet.user.avatar.url(:thumb)) %></div>
                    <%else%>
                       <p>Missing photo</p>
                    <%end%>

                    <strong> <p><%= tweet.user.name %></p></strong>
                </div>
            </div>

         
      <div class="col-sm-9" >
          <div class="well">
                <div >
                 <p style="font-size:25px;float:left"><%= tweet.body %></p>
              </div>
             
              <div style="">
                
              <div class=><%= image_tag tweet.image.url(:thumb) %></div><br>  
              </div>
          </div>
          <br>
              <div class="col-sm-6" style="float:left">
                    <div class="btn-group " style="margin-left:-150px;">
                        <div class="btn btn-default glyphicon glyphicon-heart" >
                          <%= link_to like_tweet_path(tweet), method: :put do %>
                            Like                        
                        </div>
                            <% end %>
                              <div class="btn" style="background:white;border:3px solid #d9d9d9;border-radius:0 5px 5px 0;">
                                  <%= tweet.get_upvotes.size %>
                              </div>     
                          
                    </div>
              </div>
             <div class="col-sm-6" style="float:right">
                  <div class="btn-group btn-group-sm" style="margin-top:0px;margin-bottom:10px;margin-left: 50px;float:right ">
                    
                         <div class="btn-group ">
                           <%= link_to 'Show', tweet,class:"btn pull-right btn-default  ",type:"button",style:"float:right" %>
                         </div>
                      
                        <% if tweet.user == current_user%>
                        
                         <div class="btn-group">
                         <%= link_to 'Edit', edit_tweet_path(tweet) ,class:"btn pull-right btn-default  ",type:"button" %>
                        
                         </div>
                
                        <div class="btn-group">
                        <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' },class:"btn pull-right btn-default  ",type:"button" %>
                          
                       </div>
                  
                      <%end%>
               </div>
            </div>
       </div>
        
      </div>

<% end %>
