<div class="row"></div>
    <div class="container text-center">
        <div class="col-sm-offset-3 col-sm-6 ">  




          <h3 style="margin-right:100px">Log in</h3>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          
            <div class="form-group">
                    <%= f.label :email, class: 'col-sm-2 control-label'  %>
                    <div class="col-sm-6">
                        <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
                    </div>
            </div>
            <br/>   
                <div class="form-group">  <br/> 
                    <%= f.label :password, class: 'col-sm-2 control-label'  %> 
                    <div class="col-sm-6">
                        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
                    </div>
            </div>

            <br/> 

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me ,style:"margin-top:10px" %>
                <%= f.label :remember_me ,style:"margin-bottom:5px"  %>
              </div>
            <% end -%>
           
            <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-6">
                        <%= f.submit "Log In", class: "btn btn-primary" %>
                    </div>
            </div>

            <br/>  <br/> 
          <% end %>
          <div class="form-group " style="margin-right:100px">
          <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
</div>