<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>



	<nav class="navbar navbar-default">
  		<div class="container-fluid">
   			 <div class="navbar-header">
     		 	<a class="navbar-brand" href="#">Twitter</a>
    		 </div>
    	<% if user_signed_in? -%>
    		<ul class="nav navbar-nav navbar-right">
      			<li class="active"><%= link_to 'Home', root_path %></li>
     			<li><%= link_to 'New Tweet', new_tweet_path %></li>

     			



     			<li><%= link_to 'My Account', edit_user_registration_path %></li>
				<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
   			 </ul>
   		<% else -%>	
   			 <ul class="nav navbar-nav pull-right">
   			 	<li><%= link_to 'Sign up', new_user_registration_path %></li>
				<li><%= link_to 'Sign in', new_user_session_path %></li>
			</ul>
		<% end -%>
  		</div>
	</nav>
<% if user_signed_in? -%>
	<div class="container text-center">   
		<div class="row">
			<div class="col-sm-2 well">  <!-- 1 BOLGE -->
				<div class="well">
					<%if user_signed_in?%>
	        			<div class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></div><br>            
	        			<H4><div><%= current_user.name%></div></H4>
	        			<strong><p>Hakkımda</p></strong>
	        			<div><%= current_user.description%></div>
	        		<%else%>
	        			<p>no photo</p> 
	        		<%end%>
      			</div>
      			<div class="well">
      					<p style="float:left">Useful Links</p><br>
      			</div>
			</div>
			<div class="col-sm-8 well">   <!-- 2 BOLGE -->
				<% if current_page?(root_path) %>
					<div class=" col-sm-12">
			          <div class="panel panel-default text-left">
			            <div class="panel-body">

			            	<%= form_for @tweet, url: {controller: "tweets", action: "create"} do |r| %>			
			            		<%= render 'form' %>
							<% end %>	
			              
			            </div>
			          </div>
			        </div>
			     <%end %>
<br>
				
				<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-info") %>
				<% end %>

				<%= yield %>

			</div>  <!-- 2 BOLGE -->
			<div class="col-sm-2 well"> <!-- 3 BOLGE -->
					 <h4>Recent <span class="gray">Comments</span></h4>
				<div class="">

	      					 <% Tweet.limit(5).order('created_at desc').each do |tweet| %>
	  							<% tweet.comments.select(:body,:name).order('created_at desc').limit(3).each do |comment| %>
		  								<div class="well" style="height:100px">
				  									
				  							<p style="float:left;line-height:10px;"><strong><%= tweet.user.name %></strong></p>
				 	   						<p style="float:left"><%= comment.body %></p>
				 	   								

			     					 		<div class="btn-group " style="float:left">
		                           				<%= link_to 'Go to Action', tweet,class:"btn pull-right btn-default  ",type:"button",style:"float:left;line-height:5px" %>
		                         			</div>
	                         			</div>
                         			<br>
	     	 	 				<% end %>
							<% end %>
				</div> 
			</div> <!-- 3 BOLGE -->
	</div><!-- row -->

<% else -%>	

	<div class="container text-center">   
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8 well">
			
			<%= yield %>
			</div>
	    </div> 
	</div>
<% end -%>	





			
		</div>


</body>
</html>
